# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
src/Makefile
src/*.dll
src/*.dylib
src/**/*_m.h
src/**/*_m.cc

# settings
.settings/
.project
.cproject

# gcc output
out/
*.o

# Qt files
.qtenvrc

#output
*.pdf
*.txt
*.png
res/